body {
  background-image: linear-gradient(to top, blue 90%, yellow 10%);
}

.setar {
  width: 100px;
  height: 100px;
  position: absolute;
  display: inline-block;
  left: 50%;
  margin-left: -50px;
  align-content: center;
}
/*
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 99%;
  color: black;
}
*/
input[type=submit] {
  background-color: lightgray;
  color: black;
  padding: 14px 82%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button] {
  background-color: lightgray;
  color: black;
  padding: 14px 84%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
